<h1 class="display-4 text-primary">Stars#show</h1>
<p><%= @msg%></p>
<table class="table">
<tr><th>id</th>
<td><%= @data.id%></td></tr>
<tr><th>name</th>
<td><%= @data.name%></td></tr>
<tr><th>age</th>
<td><%= @data.age%></td></tr>
<tr><th>mail</th>
<td><%= @data.mail%></td></tr>
</table>